#dashboard {
  margin: 0px 20px 0 20px;
}
.dashboard {
  /* Distribuye las columnas horizontalmente */
  padding: 20px;
  margin-top: 20px;
}
.titleDashboard {
  flex: 1;
  margin-right: 40px;
}

h1,
p {
  margin-bottom: 10px;
}
.imgDash {
  border-radius: 20px;
  height: 700px;
  width: 550px;
  margin-left: 60px;
}
