#dashboard {
  width: 100vw;
  height: 93vh;
  background-color: rgba(194, 194, 194, 0.726);
}

.dashboard {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.dashboardContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.contentContainer {
  display: flex;
}

.titleDashboard {
  flex: 1;
  text-align: center;
  margin-top: 140px;
  margin-left: 90px;
  align-items: center;
}

.imgCont {
  flex: 1;
  text-align: right;
  margin-left: 294px;
  margin-right: 100px;
}

.imgDash {
  height: 828px;
  width: 782px;
  border-radius: 20px;
}

h1 {
  margin-bottom: 40px;
}
