.dashboard {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.titleDashboard {
  flex: 1;
  margin-right: 40px;
}

h1,
p {
  margin-bottom: 10px;
}
.imgDash {
  border-radius: 20px;
  height: 700px;
  width: 550px;
  margin-left: 60px;
}
